<h1><%= @animal.name %></h1>
  <%= cl_image_tag(@animal.image) %>
  <!-- the cl_image_tag allows you to do a bunch of cool stuff, like ask cloudinary to serve the image with specific dimensions, or effects like sepia, black and white, etc. Check out the cloudinary docs on image transformation.  -->
